<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body ng-app="App">
    <div class="container" ng-view ng-controller="MainController">
      <h2>Stack NLP App</h2>
      <form name="urlForm">
        <div class="form-group">
          <label>Input URL</label>
          <input class="form-control" placeholder="Enter URL" type="url" ng-model="url"></input>
          <input class="form-control" value="Submit" type="submit" ng-click="submitUrl()"></input>
        </div>
      </form>
      {{url}}
    </div>
  </body>
</html>
