<!DOCTYPE html>
<html lang='en-us'>

  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/static/js/controllers/apiSearchCtrl.js"></script>
    <script src="/static/js/routes.js"></script>
    <script src="/static/js/app.js"></script>


  </head>

  <body ng-app="App">

    <nav>
      <ul>
        <li>
          <a href="#/">Home</a>
        </li>
        |
        <li>
          <a href="#/apis">APIs</a>
        </li>
      </ul>
    </nav>

    <div class="container" ng-view></div>

  </body>

</html>
